.git
.gitignore
README.md
.DS_Store
.env.example
.editorconfig
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
.vscode
.idea
*.pem
npm-debug.log
yarn-error.log
.php_cs.cache
.phpunit.result.cache
.env.testing
docker-compose.override.yml
.dockerignore
Dockerfile
